/* TODO Add site wide styles */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


.form-container-main {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* height: 100vh; */
    width: 100vw;
}


.left-form {
    /* border: 1px solid blue; */
    margin-right: 150px;
    height: 300px;
    width: 300px;
    /* margin-top: -125px; */
}

.right-form {
    /* border: 1px solid violet; */
    /* margin-top: -225px; */
}

.input-form {
    width: 98%;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 14px;
    border-radius: 5px;
}


.button-style {
    cursor: pointer;
    /* background-color: rgb(227, 28, 95); */
    background-color: #f51600;
    color: #fff;
    font-weight: 520;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    margin-top: 15px;
    border: none;
    font-size: 18px;
}
