.nav-main-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    height: 95px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 75px;

    /* border-bottom: 2px solid rgb(235, 235, 235); */

    background-color: rgb(248, 248, 248);




}


.logo-div {
    width: 330px;
    cursor: pointer;
}

.logo {
    width: 210px;
    height: 75px;

}


/* .home-container {
    margin-left: 30px;
} */

/* nav bar in home page but doesn't work properly */
/* div.image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
} */



/* .nav-logout-div {
    border: 1px solid blue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
} */

.nav-right-container {
    /* border: 1px solid blue; */
    width: 180px;
    display: flex;
    justify-content: space-between;
    /* width: 430px; */


}

.login-signup-div {
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.login-div {
    /* border: 1px solid green; */
    height: 40px;
    display: flex;
    align-items: center;
    width: 70px;
    background-color: rgb(227, 28, 95);
    justify-content: center;
    border-radius: 5px;
}

.login-navlink-style {
    text-decoration: none;
    color: white;

}

.signup-div {
    /* border: 1px solid green; */
    height: 40px;
    background-color: rgb(227, 28, 95);
    display: flex;
    align-items: center;
    width: 70px;
    justify-content: center;
    border-radius: 5px;
}

.signup-navlink-style {
    text-decoration: none;
    /* border: 1px solid red; */
    background: rgb(227, 28, 95);
    color: white;

}



/* logged in */
.nav-logged-div {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    /* width: 430px; */

}
