
.login-h3 {
    text-align: center;
    color: red
}

.new-to-relp {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.signup-button-login {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: blue;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}

.label-signup {
    font-size: 16px;

}


.signup-img {
    margin-top: 100px;
}

.left-signup {
    margin-top: -125px;
}


.left-login {
    margin-top: 200px;
}

.login-img {
    margin-top: 200px;
}

.signup-errors {
    color: red;
    margin-bottom: 10px;
}
