
.business-card-owner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.business-card-container-owner {
    width: 840px;
    height: 225px;
    padding: 24px;
    border-bottom: 2px solid rgb(235, 235, 235);
}

/* .business-card-container-owner:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.18);
} */

.business-card-inner-div-owner {
    display: flex;
}

.bz-card-div-left-owner {
    margin-right: 24px;
}

.bz-card-pic-owner {
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.error-img-owner {
    width: 220px;
    height: 220px;
}

.bz-card-div-right-owner {
    max-height: 220px;
    word-wrap: break-word;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bz-card-header-owner {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}


.bz-card-address-owner {
    margin-bottom: 10px;
}

.bz-card-phone-owner {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-owner-container {
    margin-top: 15px;
    display: flex;
    
}

.h2-owner-div {
    color: red;
}

.button-owner-inner {
    cursor: pointer;
    /* background-color: #f51600; */
    /* color: #fff; */
    /* width: 150px; */
    font-weight: 500;
    text-align: center;
    border-radius: 3px;
    height: 35px;
    border: none;
    font-size: 18px;
    margin-right: 5px;

    width: 50px;
    background-color: transparent;

}
