
.delete-modal-main-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 120px;
    width: 300px;
    border-radius: 10px;
    padding: 25px;
    font-family: sans-serif;

}


.delete-title {
    font-size: 24px;
}

.delete-button-div {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;

}

.delete-button-modal {
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
    height: 35px;
    border: none;
    width: 100%;
    background-color: #f51600;
    color: #fff;
    font-size: 16px;
    line-height: 20px;

}
